@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__btn {
        width: 100%;
        display: block;
        font-size: 20px;
        text-align: center;
    }
}

@include mediumTablet {
    .categories {
        &__btn {
            font-size: 18px;
            height: 70px;
        }
    }
}

@include mobileLandscape {
    .categories {
        font-size: 20px;
    }
}

