$content-width: 1440px;

$brand-color: #a0774d;

$brand-secondary: #fff;

$background-color: #000;
$background-form: #1a1a1a;

$border-form: #b0acad;

$gradient-right-to-left: linear-gradient(
  270deg,
  rgb(0, 0, 0) 45%,
  rgb(255, 255, 255, 0)
);
$gradient-left-to-right: linear-gradient(
  90deg,
  rgb(0, 0, 0) 45%,
  rgb(255, 255, 255, 0)
);
$gradient-top-to-bottom: linear-gradient(
  180deg,
  rgb(0, 0, 0) 22%,
  rgb(255, 255, 255, 0)
);
$gradient-bottom-to-top: linear-gradient(
  0deg,
  rgb(0, 0, 0) 25%,
  rgb(255, 255, 255, 0)
);
