@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.admin__page {
  margin-top: 200px;
  min-height: 100vh;
  margin-bottom: 48px;

  &-wrapper {
    max-width: $content-width;
    width: 85vw;
    margin: 0 auto;
  }

  &-title {
    font-size: 40px;
    font-weight: 800;
    color: $brand-color;
    text-align: center;
  }

  &-subtitle {
    font-size: 24px;
    color: $brand-color;
    text-align: center;
  }

  &-text {
    font-size: 24px;
    color: $brand-color;
  }

  &-action {
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 30px;

    &-mobile {
      display: none;
    }
  }

  &-content {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  &-list {
    width: 20%;

    &-tablet {
      display: none !important;
    }

    &-mobile {
      padding: 30px;
    }
  }

  &-cards {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.modal {
  background: $background-color;
  padding: 30px;
  border: 1px solid $brand-color;
  border-radius: 10px;

  &__categories {
    max-width: 300px !important;
  }
}

@include extraLargeTablet {
  .admin__page {
    &-content {
      display: block;
    }

    &-action {
      margin-top: 30px;
    }

    &-list {
      display: none !important;
      &-tablet {
        width: 100%;
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
      }
    }

    &-cards {
      width: 100%;
      gap: 10px;
    }
  }
}

@include smallTablet {
  .admin__page {
    &-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mobileLandscape {
  .admin__page {
    &-action {
      &-mobile {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 30px;
      }
    }

    &-list {
      &-tablet {
        display: none !important;
      }
    }
  }
}

@include mobile {
  .admin__page {
    &-cards {
      grid-template-columns: 1fr;
    }
  }

  .modal {
    padding: 0;

    &__delete {
      width: 300px;
      padding: 20px;
    }
    &__title {
      font-size: 18px;
    }
  }
}
