@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.form {
  // background-image: url("../../assets/images/form-background.jpg");
  // background-color: $brand-color;
  display: flex;
  align-items: center;
  // padding: 70px 0;
  // margin-top: 52px;
  // width: 50vw;
  height: auto;

  &__inner {
    max-width: 500px;
    margin: 0 auto;
    background-color: $background-form;
    // max-width: 50vw;
    // width: 90vw;
    height: auto;
    padding: 30px 30px;
    box-sizing: border-box;
    // border-radius: 10px;
    border: 3px solid $border-form;

    &_fields {
      display: flex;

      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &_title {
      font-size: 20px;
      font-weight: 800;

      margin-bottom: 15px;
    }
  }

  &__input {
    border: 1px solid $border-form;
    height: 50px;
    max-height: 50px;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    font-family: "Cormorant Infant", serif;
    font-size: 20px;

    &::placeholder {
      font-family: "Cormorant", "Nunito", sans-serif;
    }

    &_message {
      font-size: 16px;
      color: red;
      // background-color: red;
      position: absolute;
      // top: 0;
      left: 0;
    }

    &:focus {
      border: 2px solid $border-form;
    }
    &_big {
      background-color: inherit;
      color: $brand-secondary;
      display: block;
      border: 1px $border-form solid;
      box-sizing: border-box;

      font-size: 20px;
      font-family: "Cormorant Infant", serif;

      width: 100%;
      max-height: 100px;
      height: 15vh;

      resize: none;

      padding: 10px;

      &::placeholder {
        font-family: "Cormorant", "Nunito", sans-serif;
      }

      &:focus {
        border: 2px solid $border-form;
      }
    }
  }

  &__submit {
    font-size: 20px;
    border-color: $border-form;
    background: inherit;
  }
}

@include mobileLandscape {
  .form {
    &__inner {
      height: auto;
      // &_title {
      //   font-size: 22px;
      // }
    }
    &__input {
      // font-size: 20px;
      height: 45px;

      // &_big {
      //   font-size: 20px;
      // }
      &_message {
        font-size: 16px;
      }
    }
    &__submit {
      font-size: 20px;
    }
    &__header {
      font-size: 26px;
      margin-bottom: 15px;
    }
  }
}

@include mobile {
  .form {
    &__inner {
      width: 70vw;
      &_title {
        font-size: 16px;
      }
    }

    &__input {
      font-size: 16px;

      &_big {
        font-size: 16px;
      }
    }
  }
}

@include extraSmallMobile {
  .form {
    &__inner {
      padding: 20px 20px;
    }
    &__submit {
      font-size: 16px;
    }
    &__header {
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__input {
      // font-size: 20px;

      &_big {
        height: 70px;
      }
      height: 40px;
      // &_big {
      //   font-size: 20px;
      // }
      &_message {
        font-size: 12px;
      }
    }
  }
}

@include tinyMobile {
  .form {
    &__inner {
      height: auto;
      &_title {
        font-size: 20px;
      }
    }
    &__input {
      font-size: 18px;
      &_big {
        font-size: 18px;
      }
      &_message {
        font-size: 12px;
      }
    }
  }
}
